.blogItem {
    border-top: 1px solid #ebebeb;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

    .blogItem .blogInfo {
        border-left: 1px solid #ebebeb;
        padding-left: 20px;
    }

        .blogItem .blogInfo .blogDate {
            margin-top: 20px;
        }

        .blogItem .blogInfo .largeButtons {
            float: right;
        }

            .blogItem .blogInfo .largeButtons .btn {
                text-transform: capitalize !important;
                padding: 6px 16px;
            }

    .blogItem .userInfo {
        padding-top: 20px;
        position: relative;
        height: 100%;
    }

        .blogItem .userInfo .shareIcons {
            margin-top: 20px;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

            .blogItem .userInfo .shareIcons a {
                opacity: 0.5;
                padding-right: 10px;
            }

                .blogItem .userInfo .shareIcons a:hover {
                    text-decoration: none;
                    opacity: 1;
                }

                .blogItem .userInfo .shareIcons a span {
                    color: #828282;
                }

        .blogItem .userInfo .userImage {
            max-width: 45%;
            max-height: 45%;
        }

        .blogItem .userInfo .newsImage {
            max-width: 70%;
            max-height: 70%;
        }

        .blogItem .userInfo .userName {
            margin-left: 20px;
            margin-top: 20px;
            width: 40%;
        }

            .blogItem .userInfo .userName p {
                font-size: 14px;
            }

    .blogItem.singleItem {
        margin-bottom: 20px;
        float: left;
    }

        .blogItem.singleItem .blogInfo {
            border-left: none;
            padding-left: 10px;
        }

        .blogItem.singleItem .userInfo {
            border-left: 1px solid #ebebeb;
        }

        .blogItem.singleItem .blogInfo .largeButtons .btn {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: -10px;
            border-radius: 0;
            background-color: #e6e6e6;
            border-color: #e6e6e6;
        }

        .blogItem.singleItem .userInfo {
            padding-bottom: 50px;
        }

