@charset "UTF-8";

/*
 *  File: 		general.css;
 *	Purpose:	non-page specific css;
 */

/* = = = = OVERALL STYLE = = = = */

	/* Move down content because we have a fixed navbar that is 50px tall */
	body {
	    padding: 0;
	    color: #242321;
	    font-family: 'Open Sans', sans-serif;
	    background-color: #fff;
	}

	.container {
	    padding-left: 15px;
	    padding-right: 15px;
	}

	.btn-warning,
	.btn-success {
	    text-transform: uppercase;
	}

	.rowBottomMargin {
	    margin-bottom: 40px;
	}

	.row > div > .row {
		margin-left: -10px;
		margin-right: -10px;
	}

	h2 {
	    color: #1f1d1b;
	    font-size: 21px;
	    font-weight: 600;
	}

	h3 {
	    color: #d74f29;
	    font-size: 18px;
	}

	a {
	    color: #d74f29;
	    font-weight: 600;
	    transition: all 0.2s ease;
	}

	a:hover {
	    color: #d74f29;
	}

	p a {
	    color: #d74f29;
	}

	p a:hover {
	    color: #d74f29;
	}

	ul {
	    padding: 0;
	    margin: 0;
	}

	ul li {
	    list-style-type: none;
	}

	input {
	    color: #828282;
	    font-size: 14px;
	    padding: 4px;
	    height: 34px;
	    border: 1px solid #e4e1dd;
	}

	.caret-right {
	    display: inline-block;
	    width: 0;
	    height: 0;
	    margin-left: 3px;
	    /* vertical-align: middle; */
	    border-left: 4px solid #d74f29;
	    border-right: 0;
	    border-top: 4px solid transparent;
	    border-bottom: 4px solid transparent;
	}

	.largeButtons .btn-group {
	    white-space: nowrap;
	}

	.largeButtons .btn-group-lg .btn {
	    margin: 10px auto 15px !important;
	    border-radius: 0;
	    font-size: 15px;
	    background-color: #d74a29;
	    border-color: #d74a29;
	}

	.largeButtons .btn {
	    float: none;
	    display: inline-block;
	    margin-left: -4px !important;
	}

	.mediumButtons .btn {
	    border-radius: 0;
	}

	.btn-warning {
	    background-color: #d74f29;
	    border-color: #d74f29;
	    padding: 3px 12px;
	    font-weight: 600;
	}

	.btn-success:hover, .btn-success:active, .btn-success:focus {
	    background-color: #b62800 !important;
	    border-color: #b62800 !important;
	}

	.form-control {
	    box-shadow: none;
	    -webkit-box-shadow: none;
	    border-radius: 0;
	}

	.btn.active {
	    box-shadow: none;
	    -webkit-box-shadow: none;
	}

	/* == ACTIELABELS == */

		.actielabel:after {
		    content: '';
		    position: absolute;
		    display: block;
		    top: 15px;
		    right: 15px;
		    bottom: auto;
		    left: auto;
		    background-image: url(../img/actie-label-sprite.png);
		    width: 46px;
		    height: 46px;
		}

		.actielabel.rood:after {
		    background-position-y: 0;
		}

		.actielabel.geel:after {
		    background-position-y: 155px;
		}

		.actielabel.zwart:after {
		    background-position-y: 108px;
		}

		.actielabel.blauw:after {
		    background-position-y: 63px;
		}

		.actielabel.nieuw:after {
		    background-position-x: -100px;
		}

		.actielabel.salebold:after {
		    background-position-x: -146px;
		}

		.actielabel.sale:after {
		    background-position-x: -191px;
		}

		.actielabel.hotdeal:after {
		    background-position-x: -237px;
		}

		.actielabel.pawnshop:after {
		    background-position-x: -283px;
		}

		.actielabel.opisop:after {
		    background-position-x: -328px;
		}

		.actielabel.combideal:after {
		    background-position-x: -375px;
		}

	/* == RANKINGSTARS == */
	.rankingStars {
		background-image: url(../img/ratingStars.png);
		background-repeat: no-repeat;
		display: block;
	}

	.rankingStars-1 {
		height: 14px;
		width: 75px;
		background-position: -1px -1px;
	}

	.rankingStars-2 {
		height: 14px;
		width: 75px;
		background-position: -1px -18px;
	}

	.rankingStars-3 {
		height: 14px;
		width: 75px;
		background-position: -1px -35px;
	}

	.rankingStars-4 {
		height: 14px;
		width: 75px;
		background-position: -1px -52px;
	}

	.rankingStars-5 {
		height: 14px;
		width: 75px;
		background-position: -1px -69px;
	}



/* = = = = HEADER = = = = */

	/* == CUSTOMERBAR == */
		.customerBar {
		    min-height: 30px;
		    background-color: #f7f6f5;
		    border-bottom: 1px solid #e4e1dd;
		    margin: 0;
		    padding: 0;
		    line-height: 30px;
		    font-size: 12px;
		    color: #828282;
		}
		.navbar-nav,
		.navbar-right {
		    margin: 0 !important;
		    padding: 0 !important;
		}

		.navbar-nav > li > a {
		    text-transform: uppercase;
		    font-size: 11px;
		    color: #26211f;

		    padding:5px 10px 5px 10px !important;
		}

		#black-spacer-top > li > a {
		    background: url(../img/bkg_pipe.gif) 0% 50% no-repeat;
		}

		.navbar-nav > li:last-child > a {
		    background: none;
		    margin: 0 !important;
		}

		.nav .hot {
		    color:#d74f29;
		}

		.customerBar .dropdown-menu > li > a {
		    font-size: 11px;
		    text-transform: uppercase;
		    line-height: normal;
		    height: 15px;
		    padding: 0 0 0 5px;
		    margin: 5px;
		}

		.customerBar .dropdown-menu > li {
		    margin: 0;
		    padding: 0;
		    line-height: 25px;
		}

		.customerBar .dropdown-menu > li > a:hover {
		    background: none;
		    color: #d74f29;
		}

		.customerBar .languageMenu > li > a {
		    padding: 0 0 0 30px;
		}

		.customerBar .dropdown-menu > li > a.nl:hover,
		.customerBar .dropdown-menu > li > a.nl {
		    background: url(../img/countryflags.png) 0px 0px no-repeat;
		}
		.customerBar .dropdown-menu > li > a.en:hover,
		.customerBar .dropdown-menu > li > a.en {
		    background: url(../img/countryflags.png) 0px -30px no-repeat;
		}

		.customerBar .dropdown-menu > li > a.de:hover,
		.customerBar .dropdown-menu > li > a.de {
		    background: url(../img/countryflags.png) 0px -15px no-repeat;
		}

		.customerBar .customerServiceMenu .glyphicon {
		    margin-right: 5px;
		}

	/* == SEARCHBAR == */
		.searchBar {
		    /*height: 70px;*/
		    background-color: #fff;
		    padding: 0;
		    margin: 0;
		}
		.searchBar h1 {
		    padding: 0;
		    margin: 12px 0 0 0;
		    /*text-indent: -3333px;*/
		}

		.searchContainer {
		    margin-top: 19px;
		}

		#searchInput {
		    border-bottom-left-radius: 0;
		    border-top-left-radius: 0;
		}

		#searchButton {
		    display: inline-block;
		    /*background: url(../img/icon_search.png) 100% 100% no-repeat;*/
		    background-color: #d74a29;
			color: white;
		    width: 34px;
		    height: 34px;
		    border: none;
		    transition: all 0.3s ease;
		}

		#searchButton .glyphicon {
			margin-top: -4px;
			font-size: 18px;
		}

		#searchButton:hover{
		    background-color: #b62800;
		}

		.shoppingCartContainer {
		    padding: 0;
		}

		#shoppingCartImage {
		    display: block;
		    width: 65px;
		    height: 65px;
		    background: url(../img/icon_shopping_bag.png) 100% 100% no-repeat;
		    float: right;
		    margin: 5px 0 0 0;
		}

		#shoppingCartImage span {
		    top: 20px;
		    left: 35px;
		    display: inline-block;
		    position: relative;
		    background-color: #d74f29;
			border-radius: 20px;
		    width: 22px;
		    height: 22px;
		    text-align: center;
		    color: #fff;
		    line-height: 22px;
		    font-size: 14px;
		    font-family: Arial, Helvetica, sans-serif;
		    font-weight: bold;
		}

		#shoppingCartTotal {
		    margin-top: 14px;
		    display: block;
		    float: right;
		    font-size: 24px;
		    text-align: right;
		    font-weight: 600;
		    color: #333;
		}

		#shoppingCartTotal span {
		    margin-top: -5px;
		    display: block;
		    font-size: 8px;
		    text-align: right;
		    text-transform: uppercase;
		    font-weight: 600;
		    color: #3c3c3b;
		}

		.nav > li > a:hover {
		    background: none;
		    color: #d84f2b;
		    text-decoration: none;
		}

		.nav > li > a:focus {
		    background: none;
		    color: #d84f2b;
		}

		.breadcrumb {
		    border-radius: 0;
		}

		.breadcrumb a {
		    color: #777;
		    font-weight: normal;
		}

		.breadcrumb li.active  {
		    color: #b62800;
		    font-weight: 600;
		}

		.menuBar {
		    padding: 0;
		    margin: 0;
		    background: url(../img/bkg_menu.png) 100% 100% repeat;
		}

		.menuBar ul li a {
		    color: #fff;
		}

		.menuBar ul {
		    text-align: center;
		    padding: 0 15px 0 15px;
		}

		.menuBar ul li {
		    float: none;
		    display: inline-block;
		    position: relative;
		}

		.menuBar ul li:first-child {
		    padding: 0 10px 0 0;
		}

		.menuBar ul li:last-child {
		    background: none;
		}

		.menuBar ul li a {
		    color: #fff;
		    font-weight: 600;
		    font-size: 13px;
		    text-transform: uppercase;
		}

		.affix {
			width: 100%;
			z-index: 5000;
			top: 0;
			-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.5);
			box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.5);
		}

		.affix-top #toggleCategories a {
			display: none;
		}

		.affix #toggleCategories .navbar-toggle {
			background-color: #fff;
			border: none;
			border-radius: 0;
			float: none;
			padding: 14px 12px;
			margin-top: 13px;
			display: block;
		}

		.affix #toggleCategories .navbar-toggle .icon-bar {
			display: block;
		  	width: 24px;
		  	height: 3px;
		  	border-radius: 1px;
			background-color: #000;
			opacity: 0.5;
			transition: all 0.2s ease;
		}

		.affix #toggleCategories:hover .navbar-toggle .icon-bar {
			opacity: 0.7;
		}

		/* ==== push menu ==== */

		/* General styles for all menus */

		.cbp-spmenu {
			background: #3c3c3b;
			position: absolute;
		}

		/* Orientation-dependent styles for the content of the menu */

		.cbp-spmenu-vertical {
			width: 240px;
			height: 100%;
			top: 0;
			z-index: 1000;
		}

		/* Vertical menu that slides from the left or right */

		.cbp-spmenu-left {
			left: -240px;
		}

		.cbp-spmenu-left.cbp-spmenu-open {
			-webkit-box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    2px 0px 5px 0px rgba(50, 50, 50, 0.5);
			box-shadow:         2px 0px 5px 0px rgba(50, 50, 50, 0.5);
		}

		/* Push classes applied to the body */

		.cbp-spmenu-push {
			overflow-x: hidden;
			position: relative;
			left: 0;
		}

		.cbp-spmenu-push-toright {
			left: 240px;
		}

		.cbp-spmenu-push-toleft {
			left: -240px;
		}

		/* Transitions */

		.cbp-spmenu,
		.cbp-spmenu-push {
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		.cbp-spmenu .account {
			margin: 0 auto;
		}

		.cbp-spmenu .account .btn-group {
			padding: 10px 0 10px 10px;
		}

		.cbp-spmenu .account .btn-group .btn.btn-login {
			border-radius: 0;
			font-size: 14px;
			padding: 5px 10px;
			background-color: #d74f29;
			border-color: transparent;
		}

		.cbp-spmenu .account .btn-group .btn {
			border-radius: 0;
			font-size: 14px;
			padding: 5px 10px;
			background-color: #828282;
			border-color: transparent;
		}

		.cbp-spmenu .account .btn-group .btn:hover {
			background-color: #F6F5F3 !important;
			color: #1f1d1b !important;
			border-color: transparent !important;
		}

		.cbp-spmenu .mobileMenu li {
			padding: 10px;
			border-bottom: 1px solid #515150;
			transition: all 0.2s ease;
		}

		.cbp-spmenu .mobileMenu li a {
			color: white;
			width: 100%;
			position: relative;
		}

		.cbp-spmenu .mobileMenu li a .glyphicon {
			color: white !important;
		}

		.cbp-spmenu .mobileMenu li:hover {
			background-color: #3D3C3A;
		}

		.cbp-spmenu .mobileMenu li:hover a {
			color: #d74f29;
			text-decoration: none;
		}

		.cbp-spmenu .mobileMenu li a .glyphicon-chevron-right {
			float: right;
			padding-right: 10px;
		}

		.cbp-spmenu .mobileMenu li:hover a .glyphicon-chevron-right {
			color: #d74f29 !important;
		}


/* = = = = CONTENT = = = = */

	.mainBar {
	    margin-top: 15px;

	}

	.mainBar h3 {
	    color: #1f1d1b;
	    font-size: 24px;
	    font-weight: 600;
	    /* margin-bottom: 25px; */
	}

	.mainBar h4 {
	    color: #1f1d1b;
	    font-size: 13px;
	    font-weight: 600;
	    margin: 0 0 5px 0;
	}

	.mainBar p {
	    color: #1f1d1b;
	    font-size: 13px;
	}

	#usp {
	    background-color: #f7f6f4;
	    border: 1px solid #ebebeb;
	    padding: 14px;
	    margin-bottom: 20px;
	}

	#usp h4 {
	    font-size: 18px;
	    font-weight: 600;
	    margin-bottom: 15px;
	}

	#usp li {
	    font-weight: 600;
	    font-size: 13px;
	    margin-bottom: 5px;
	    text-transform: uppercase;
	}

	#usp .glyphicon-ok {
	    color: #73bd84;
	}

	#usp .glyphicon-ok:hover {
	    color: #73bc84 !important;
	}

	.banner-container {
		margin-top: 20px;
	}

	.banner-container #usp {
	    background-color: white;
	}

	.banner-container #usp li {
	    font-size: 11px;
	}

	.carousel-inner > .item > img {
	    width: 100%;
	}

	.carousel-indicators {
	    right: auto;
	    left: 40px;
	    bottom: 10px;
	    margin-left: 0;
	    width: auto;
	}

	.carousel-indicators li {
	    background-color: #626262;
	    border: 2px solid #fff;
	}

	.carousel-indicators .active {
	    background-color: #d74f29;
	    margin-right: 5px;
	}

	.carousel-caption {
	    right: auto;
	    left: 60px;
	    bottom: 0;
	}

	.carousel-control .glyphicon-chevron-left {
	    background: url(//cdn.shopify.com/s/files/1/0332/7621/t/15/assets/arrow_sprite.png?50807) no-repeat 0 0;
	    height: 60px;
	    left: -36px;
	    transition: all .3s ease;
	    width: 60px;
	    background-position: 0 -60px;
	    opacity: 0;
	}

	.carousel-control .glyphicon-chevron-right {
	    background: url(//cdn.shopify.com/s/files/1/0332/7621/t/15/assets/arrow_sprite.png?50807) no-repeat 0 0;
	    height: 60px;
	    right: -36px;
	    transition: all .3s ease;
	    width: 60px;
	    background-position: 0 -120px;
	    opacity: 0;
	}

	.carousel .carousel-control {
		opacity: 0.2;
	}

	.carousel:hover .carousel-control {
		opacity: 0.5;
	}

	.carousel:hover .carousel-control .glyphicon-chevron-left {
	    opacity: 1;
	    left: 15px;
	}

	.carousel:hover .carousel-control .glyphicon-chevron-right {
	    opacity: 1;
	    right: 15px;
	}

	.carousel-control .glyphicon-chevron-left:before, .carousel-control .glyphicon-chevron-right:before {
	    content: none;
	}

	#right-border {
	    border-right:1px solid #ebebeb;
	}

	/* === left menu/sidebar === */
		.list-group-submenu {
		    padding-left: 15px;
		}

		.blockHeader {
		    min-height: 20px;
		    padding: 15px;
		    background: -webkit-linear-gradient(#f1f0ee, #dadada); /* For Safari 5.1 to 6.0 */
		    background: -o-linear-gradient(#f1f0ee, #dadada); /* For Opera 11.1 to 12.0 */
		    background: -moz-linear-gradient(#f1f0ee, #dadada); /* For Firefox 3.6 to 15 */
		    background: linear-gradient(#f1f0ee, #dadada); /* Standard syntax */
		    color: #1f1d1b;
		    text-transform: uppercase;
		    font-size: 16px;
		    font-weight: 600;
		}

		.assortiment {
			padding-left: 0;
			padding-top: 0;
		}

		.filters {
			padding-left: 0;
		}

		.panel-group .panel-heading .panel-title {
			margin: 0;
		}

		.assortiment .list-group.panel {
			border: none;
		}

		.assortiment .list-group-item {
		    padding: 3px 25px;
		    border-radius: 0 !important;
		    margin-bottom: 0;
		    border: none;
		    font-weight: normal;
		    font-size: 13px;
		}

		.assortiment .list-group-item:hover, .assortiment .list-group-item:focus {
		    color: #d74f29;
		}

		.assortiment .bold {
		    font-weight: 600;
		    color: black;
		    font-size: 14px;
		    padding: 3px 15px;
		}

		.assortiment .big {
		    padding: 10px 15px;
		    margin-top: -1px;
		    border-top: 1px solid #e4e1dd;
		    border-bottom: 1px solid #e4e1dd;
		    font-weight: 600;
		    font-size: 15px;
		    color: black;
		}

		.hot {
		    color: #d74f29 !important;
		    font-weight: 600 !important;
		    font-size: 14px;
		}

		.categoryList > div {
		    display: inline-block;
		    padding-top: 10px;
		    padding-bottom: 10px;

		}

		.categoryList a:hover {
		    text-decoration: none;
		    color: #d74f29 !important;
		}

	.action .priceFrom {
	    display: block;
	    text-align: right;
	    font-size: 15px;
	    line-height: 15px;
	    text-decoration: line-through;
	    float: none;
	}

	.action .price {
	    display: block;
	    text-align: right;
	    font-size: 29px;
	    line-height: 25px;
	    font-weight: bold;
	    float: none;
	}

	.productThumb {
	    height: 250px;
	    width: 100%;
	    display: block;
	    overflow: hidden;
	    position: relative;
	}

	.productThumb img {
	    max-width: 80%;
	    max-height: 80%;
	    margin: auto;
	    position: absolute;
	    top: 0; left: 0; bottom: 0; right: 0;
	}

	/* == PAGINATION == */
	.page {
	    color: #828282;
	    padding-top: 3px;
	}

	.page span {
	    margin-right: 5px;
	    margin-left: 5px;
	    cursor: pointer;
	    text-transform: uppercase;
	}

	.page span:hover {
	    color: #d74a29;
	}

	.back:hover {
	    color: #d74a29;
	}

/* = = = = FOOTER = = = = */

	.brands {
	    width: 100%;
	    height: 50px;
	    margin: 20px auto;
	}

	.brands ul li {
	    float: left;
	    width: 10%;
	    text-align: center;
	    height: 50px;
	    line-height: 50px;
	    opacity: 0.7;
	    transition: opacity 0.2s ease;
	}

	.brands ul li:hover {
	    opacity: 1;
	}

	.brands ul li img {
	    vertical-align: middle;
	}

	.footer1 .sitemap a {
	    color: #242321;
	}
	.footer1 {
	    min-height: 320px;
	    background: url(../img/bkg_footer_1.png) 100% 100% repeat;
	    box-shadow: inset 1px 10px 15px -15px;
	}

	.footer1 ul li {
	    font-size: 12px;
	    text-transform: capitalize;
	    padding: 0 0 3px 0;
	}

	.footer1 p {
	    font-size: 12px;
	}

	.footer1 p span {
	    font-weight: 600;
	}

	.footer1 h3 {
	    font-size: 18px;
	    color: #d84f2b;
	}

	.latestNewsContainer {
	    padding-bottom: 15px;
	    margin-bottom: 55px;
	    border-bottom: 1px solid #f7f6f5;
	}

	.newsletter {
	    border: 1px solid #e4e1dd;
	    padding: 8px 15px 0 15px;
	}

	.newsletter .btn-group {
		display: block;
		text-align: center;
	}

	.kiyoh {
	    float: right;
	    text-align: right;
	    background: url(../img/kiyoh.png) 123px 2px no-repeat;
	    width: 180px;
	    height: 60px;
	    margin-bottom: 40px;
	}

	.kiyoh span {
	    top: 10px;
	    left: -10px;
	    display: inline-block;
	    position: relative;
	    font-size: 28px;
	    color: #fff;
	    font-weight: 600;
	    letter-spacing: -1px;
	}

	.footer2 {
	    min-height: 170px;
	    background: url(../img/bck-footer-min.jpg) 100% 100% repeat;
	    color: #fff;
	    padding-bottom: 20px;
	}

	.footer2 p {
	    font-size: 12px;
	    line-height: 20px;
	}

	.footer2 h3 {
	    color: #d84f2b;
	    font-size: 18px;
	    margin-bottom: 10px;
	}

	.footer2 p.quote {
	    font-size: 16px;
	    font-style: italic;
	    font-weight: 600;
	    color: #999;
	    margin: 60px 0 0 0;
	}

	.footer2 p.quote span {
	    display: block;
	    font-style: normal;
	    color: #666;
	    font-size: 14px;
	}

	ul.socialMediaIcons li {
	    float: left;
	    padding: 0 15px 0 0;
	}

	ul.socialMediaIcons a {
	    text-indent: -3333px;
	    display: block;
	    width: 34px;
	    height: 34px;
	    background: url(../img/icon_social_media.png) 2px 0px no-repeat;
	}

	ul.socialMediaIcons a:hover {
	    opacity: 0.7;
	}

	ul.socialMediaIcons a.iconFacebook {
	    background: url(../img/icon_social_media.png) -135px 0px no-repeat;
	}

	ul.socialMediaIcons a.iconTwitter {
	    background: url(../img/icon_social_media.png) 2px 0px no-repeat;
	}

	ul.socialMediaIcons a.iconPinterest {
	    background: url(../img/icon_social_media.png) -44px 0px no-repeat;
	}

	ul.socialMediaIcons a.iconYoutube {
	    background: url(../img/icon_social_media.png) -181px 0px no-repeat;
	}

	ul.socialMediaIcons a.iconGooglePlus {
	    background: url(../img/icon_social_media.png) -227px 0px no-repeat;
	}

	.fb_iframe_widget {
		width: 100% !important;
	}

	.fb_iframe_widget span[style] {
		width: 100% !important;
	}

	.fb_iframe_widget iframe[style] {
		width: 100% !important;
	}

	#newsletterInput {
	    padding: 4px;
	    height: 34px;
	    border-radius: 0;
	}

	.footer2 .email, .footer2 p {
	    color: white;
	}

	#newsletterButton {
	    display: inline-block;
	    position: relative;
	    background: url(../img/icon_newsletter.png) 100% 100% no-repeat;
	    width: 34px;
	    height: 34px;
	    border-radius: 0;
	    border: 1px solid #d84f2b;
	}

	.text-info {
	    color: black;
	    margin-top: 19px;
	}

	.text-info p {
	    margin: 0;
	    font-size: 12px;
	}

	.icon-bar {
	    color: black;
	}

	footer {
	    padding: 20px 0 0 0;
	    text-align: center;
	    color: #242321;
	    font-size: 11px;
	}

	footer .paymentTypes {
	    margin-bottom: 50px;
	}

	footer .paymentTypes li {
	    margin: 0;
	    text-indent: -3333px;
	    display: inline-block;
	    padding: 0;
	}

	footer .paymentTypes li.visa {
	    width: 44px;
	    height: 25px;
	    background: url(../img/payment_types.png) 0px 0px no-repeat;
	}


	footer .paymentTypes li.mastercard {
	    width: 55px;
	    height: 25px;
	    background: url(../img/payment_types.png) -55px 0px no-repeat;
	}


	footer .paymentTypes li.maestro {
	    width: 38px;
	    height: 25px;
	    background: url(../img/payment_types.png) -117px 0px no-repeat;
	}


	footer .paymentTypes li.paypal {
	    width: 52px;
	    height: 25px;
	    background: url(../img/payment_types.png) -160px 0px no-repeat;
	}


	footer .paymentTypes li.misterCash {
	    width: 38px;
	    height: 25px;
	    background: url(../img/payment_types.png) -213px 0px no-repeat;
	}


	footer .paymentTypes li.sofortUberweisung {
	    width: 55px;
	    height: 25px;
	    background: url(../img/payment_types.png) -260px 0px no-repeat;
	}


	footer .paymentTypes li.ideal {
	    width: 28px;
	    height: 25px;
	    background: url(../img/payment_types.png) -321px 0px no-repeat;
	}

	footer .paymentTypes li.postNl {
	    width: 68px;
	    height: 25px;
	    background: url(../img/payment_types.png) -474px 0px no-repeat;
	}

	footer .paymentTypes li.ups {
	    width: 25px;
	    height: 25px;
	    background: url(../img/payment_types.png) -544px 0px no-repeat;
	}

	.scrollToTop {
		z-index: 50000;
	    width: 49px;
	    position: fixed;
	    height: 49px;
	    bottom: 0;
	    right: 30px;
	    display: none;
	    opacity: 0.6;
	    background-color: #242321;
		color: white;
		font-size: 25px;
		padding-top: 9px;
		padding-left: 10px;
	}

	.scrollToTop:hover{
	    opacity: 1;
		color: white;
	}
