@charset "UTF-8";

/*
 *  File: 		kassa.css;
 *	Purpose:	styling the 'kassa' page;
 */

 .titleContainer .usp {
    float: right;
    height: 70px;
    line-height: 70px;
}

.titleContainer > hr {
    width: 100%;
}

.titleContainer .usp > img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.titleContainer .usp > p {
    color: #a0a0a0;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    margin: 0;
}

.titleContainer .usp p:first-child {
    font-weight: normal;
}
