@charset "UTF-8";

/*
 *  File: 		kassa.css;
 *	Purpose:	styling the 'kassa' page;
 */

 .titleContainer .usp {
    float: right;
    height: 70px;
    line-height: 70px;
}

.titleContainer > hr {
    width: 100%;
}

.titleContainer .usp > img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.titleContainer .usp > p {
    color: #a0a0a0;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    margin: 0;
}

.titleContainer .usp p:first-child {
    font-weight: normal;
}

/** Image rewrites **/

.onestepcheckout-button, .onestepcheckout-button:visited {
    background: #222 url(../img/button-background.png) repeat-x;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-left {
    background: transparent url(../img/line-gradient.gif) no-repeat scroll right top;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-middle {
    background: transparent url(../img/line-gradient.gif) no-repeat scroll right top;
}

div.onestepcheckout-error {
    background-image: url(../img/onestepcheckout-error.jpg);
}

p.onestepcheckout-numbers-1 {
    background-image: url(../img/onestepcheckout-numbers-1.png);
}

p.onestepcheckout-numbers-2 {
    background-image: url(../img/onestepcheckout-numbers-2.png);
}

p.onestepcheckout-numbers-3 {
    background-image: url(../img/onestepcheckout-numbers-3.png);
}

p.onestepcheckout-numbers-4 {
    background-image: url(../img/onestepcheckout-numbers-4.png);
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-1 {
    background-image: url(../img/skin-magento/onestepcheckout-numbers-1.png) !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-2 {
    background-image: url(../img/skin-magento/onestepcheckout-numbers-2.png) !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-3 {
    background-image: url(../img/skin-magento/onestepcheckout-numbers-3.png) !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-4 {
    background-image: url(../img/skin-magento/onestepcheckout-numbers-4.png) !important;
}

.onestepcheckout-popup-footer {
    background-image: url(../img/onestepcheckout-popup-footer.png);
}

.onestepcheckout-popup-wrapper {
    background-image: url(../img/onestepcheckout-popup-header.png);
    *background-image: url(../img/onestepcheckout-popup-header.png) !important;
}

/** OVERWRITE the onestepcheckout css **/
#onestepcheckout-form input[type=checkbox], #onestepcheckout-form input[type=radio] {
    height: 13px;
    vertical-align: top;
}

.onestepcheckout-login-link {
    margin-left: 23px;
    margin-top: -24px;
}

div.onestepcheckout-threecolumns {
    margin-top: -30px;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-left {
    margin-left: 20px;
}

#onestepcheckout-form .group-select {
    padding: 0 !important;
    position: relative;
}

div.checkoutcontainer div.input-address-short, div.checkoutcontainer div.input-firstname, div.checkoutcontainer div.input-lastname, div.checkoutcontainer div.input-email, div.checkoutcontainer div.input-telephone, div.checkoutcontainer div.input-company, div.checkoutcontainer div.input-fax, div.checkoutcontainer div.input-password {
    width: 50%;
}

div.checkoutcontainer div.input-address-short .input-text, div.checkoutcontainer div.input-firstname .input-text, div.checkoutcontainer div.input-lastname .input-text, div.checkoutcontainer div.input-email .input-text, div.checkoutcontainer div.input-telephone .input-text, div.checkoutcontainer div.input-company .input-text, div.checkoutcontainer div.input-fax .input-text, div.checkoutcontainer div.input-password .input-text {
    width: 90%;
}

div.checkoutcontainer div.input-address .input-text, div.checkoutcontainer div.input-city .input-text {
    width: 95%;
}

.checkoutcontainer .input-box.input-city {
    width: 61% !important;
    margin-left: 37%;
    margin-top: -67px;
}

div.checkoutcontainer div.input-country select {
    width: 95%;
}

div.input-box #id_create_account {
    margin-top: 20px;
}

div.input-box label[for=id_create_account] {
    margin-top: 16px;
}

#checkout-payment-method-load .radio {
    display: inline-block;
    margin: 1px 0 0;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-right {
    width: 33%;
}

div.onestepcheckout-comments textarea {
    width: 100%;
    resize: vertical;
}

.orange.onestepcheckout-button, .orange.onestepcheckout-button:visited {
    background: none;
    border-radius: 0;
    background-color: #D74A29;
    text-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    transition: all 0.3s ease;
    padding: 12px 30px;
}

.orange.onestepcheckout-button:hover {
    background-color: #B62800;
}
