@charset "UTF-8";

.btn-warning,
.btn-success {
    text-transform: uppercase;
}

.rowBottomMargin {
    margin-bottom: 40px;
}

/* overwrite defaults */


h2 {
    color: #1f1d1b;
    font-size: 21px;
    font-weight: 600;
}

h3 {
    color: #d74f29;
    font-size: 18px;	
}

a {
    color: #d74f29;
    font-weight: 600;
    transition: all 0.2s ease;
}

a:hover {
    color: #d74f29;
}

p a {
    color: #d74f29;
}

p a:hover {
    color: #d74f29;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

input {
    color: #828282;
    font-size: 14px;
    padding: 4px;
    height: 34px;
    border: 1px solid #e4e1dd;
}

.caret-right {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 3px;
    /* vertical-align: middle; */
    border-left: 4px solid #d74f29;
    border-right: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding: 0;
    color: #242321;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.container {
    padding-left: 15px;
    padding-right: 15px;

}

/*
end overwrite defaults
*/

/*
customerbar
*/
.customerBar {
    min-height: 30px;
    background-color: #f7f6f5;
    border-bottom: 1px solid #e4e1dd;
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 12px;
    color: #828282;
}
.navbar-nav,
.navbar-right {
    margin: 0 !important;
    padding: 0 !important;
}

.navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 11px;
    color: #26211f;

    padding:5px 10px 5px 10px !important;
}

#black-spacer-top > li > a {
    background: url(../img/bkg_pipe.gif) 0% 50% no-repeat;
}

.navbar-nav > li:last-child > a {
    background: none;
    margin: 0 !important;
}

.nav .hot {
    color:#d74f29;
}

.customerBar .dropdown-menu > li > a {
    font-size: 11px;
    text-transform: uppercase;
    line-height: normal;		
    height: 15px;
    padding: 0 0 0 5px;
    margin: 5px;
}

.customerBar .dropdown-menu > li {
    margin: 0;
    padding: 0;
    line-height: 25px;
}

.customerBar .dropdown-menu > li > a:hover {
    background: none;
    color: #d74f29;
}

.customerBar .languageMenu > li > a {
    padding: 0 0 0 30px;
}

.customerBar .dropdown-menu > li > a.nl:hover,
.customerBar .dropdown-menu > li > a.nl {
    background: url(../img/countryflags.png) 0px 0px no-repeat;	
}	
.customerBar .dropdown-menu > li > a.en:hover,	
.customerBar .dropdown-menu > li > a.en {
    background: url(../img/countryflags.png) 0px -30px no-repeat;	
}	

.customerBar .dropdown-menu > li > a.de:hover,
.customerBar .dropdown-menu > li > a.de {
    background: url(../img/countryflags.png) 0px -15px no-repeat;	
}

.customerBar .customerServiceMenu .glyphicon {
    margin-right: 5px;
}

/*
end customerbar 
*/

.searchBar {
    min-height: 70px;
    background-color: #fff;
    padding: 0;
    margin: 0;
}
.searchBar h1 {
    padding: 0;
    margin: 12px 0 0 0;
    /*text-indent: -3333px;*/
}

.searchContainer {
    margin-top: 19px;
}

#searchInput {	
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#searchButton {
    display: inline-block;
    background: url(../img/icon_search.png) 100% 100% no-repeat;
    background-color: #d74a29;
    width: 34px;
    height: 34px;
    border: none;
    transition: all 0.3s ease;
}

#searchButton:hover{
    background-color: #b62800;
}

.shoppingCartContainer {
    padding: 0;		
}

#shoppingCartImage {
    display: block;
    width: 65px;
    height: 65px;
    background: url(../img/icon_shopping_bag.png) 100% 100% no-repeat;
    float: right;
    margin: 5px 0 0 0;
}

#shoppingCartImage span {
    top: 20px;
    left: 35px;
    display: inline-block;
    position: relative;
    background: url(../img/icon_shopping_bag_dot.png) 100% 100% no-repeat;
    width: 22px;
    height: 22px;
    text-align: center;
    color: #fff;
    line-height: 22px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#shoppingCartTotal {
    margin-top: 14px;
    display: block;
    float: right;
    font-size: 24px;
    text-align: right;
    font-weight: 600;
    color: #333;
}

#shoppingCartTotal span {
    margin-top: -5px;
    display: block;
    font-size: 8px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    color: #3c3c3b;
}

.nav > li > a:hover {
    background: none;
    color: #d84f2b;
    text-decoration: none;
}

.nav > li > a:focus {
    background: none;
    color: #d84f2b;
}

.breadcrumb {
    border-radius: 0;
}

.breadcrumb a {
    color: #777;
    font-weight: normal;
}

.breadcrumb li.active  {
    color: #b62800;
    font-weight: 600;
}

.menuBar {			
    padding: 0;
    margin: 0;	
    min-height: 50px;	
    background: url(../img/bkg_menu.png) 100% 100% repeat;
}

.menuBar ul li a {
    color: #fff;
}


.menuBar ul {
    text-align: center;	
    padding: 0 15px 0 15px;
}

.menuBar ul li {
    float: none;

    display: inline-block;
    position: relative;

    /*	padding: 0 5px 0 5px !important; 
            background: url(../img/bkg_pipe_white.png) 100% 50% no-repeat; */
}

.menuBar ul li:first-child {
    padding: 0 10px 0 0;
}

.menuBar ul li:last-child {
    background: none;
}

.menuBar ul li a {
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}

.mainBar {	 
    margin-top: 15px;

}

.mainBar h3 {
    color: #1f1d1b;
    font-size: 24px;
    font-weight: 600;
    /* margin-bottom: 25px; */
}

.mainBar h4 {
    color: #1f1d1b;
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 5px 0;
}

.mainBar p {
    color: #1f1d1b;
    font-size: 13px;
}

#usp {
    background-color: #f7f6f4;
    border: 1px solid #ebebeb;
    padding: 14px;
    margin-bottom: 20px;
}

#usp h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

#usp li {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#usp .glyphicon-ok {
    color: #73bd84;
}

#usp .glyphicon-ok:hover {
    color: #73bc84 !important;
}

.banner-container #usp {
    background-color: white;
}

.banner-container #usp li {
    font-size: 11px;
}

.product_detail #usp {
    background-color: white;
    border: none;
    padding: 0;
}

.navigation #right-banner-container {
    background: none;
}

.carousel-inner > .item > img {
    width: 100%;
}

.carousel-indicators {
    right: auto;
    left: 40px;
    bottom: 10px;
    margin-left: 0;
    width: auto;
}

.carousel-indicators li {
    background-color: #626262;
    border: 2px solid #fff;
}

.carousel-indicators .active {
    background-color: #d74f29;
    margin-right: 5px;
}

.carousel-caption {
    right: auto;
    left: 60px;
    bottom: 0;
}

.carousel-control .glyphicon-chevron-left {
    background: url(//cdn.shopify.com/s/files/1/0332/7621/t/15/assets/arrow_sprite.png?50807) no-repeat 0 0;
    height: 60px;
    left: -36px;
    transition: all .3s ease;
    width: 60px;
    background-position: 0 -60px;
    opacity: 0;
}

.carousel-control .glyphicon-chevron-right {
    background: url(//cdn.shopify.com/s/files/1/0332/7621/t/15/assets/arrow_sprite.png?50807) no-repeat 0 0;
    height: 60px;
    right: -36px;
    transition: all .3s ease;
    width: 60px;
    background-position: 0 -120px;
    opacity: 0;
}

.carousel:hover .carousel-control .glyphicon-chevron-left {
    opacity: 1;
    left: 15px;
}

.carousel:hover .carousel-control .glyphicon-chevron-right {
    opacity: 1;
    right: 15px;
}

.carousel-control .glyphicon-chevron-left:before, .carousel-control .glyphicon-chevron-right:before {
    content: none;
}

/*
Don't break buttons 
*/
.largeButtons .btn-group {
    white-space: nowrap;  		
}

.largeButtons .btn {
    float: none;
    display: inline-block;
    margin-left: -4px !important;
}

.mediumButtons .btn {
    border-radius: 0;

}

.btn-warning {
    background-color: #d74f29;
    border-color: #d74f29;
    padding: 3px 12px;
    font-weight: 600;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: #b62800 !important;
    border-color: #b62800 !important;
}

#newProductsHeader h3 {
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 30px;
}

#newProductsHeader {
    margin-top: -10px;
    margin-bottom: 10px;
    /* margin-left: 20px; */
}

.instrument-info div.container-small {
    height: 100%;
    border: 1px solid #EBEBEB;
    display: block;
}

.instrument-info div div.content {
    padding: 0 20px 20px;
    height: 230px;
    margin-top: -50px;
}


.instrument-info div div.content h3 {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 20px;
}

.instrument-info h1.instrument-title {
    bottom: 60px;
    color: white;
    position: relative;
    font-size: 25px;  
    padding-left: 20px;
}

.instrument-info img {
    display: block;
}

#right-border {
    border-right:1px solid #ebebeb;
}

.extra-info .no-padding {
    padding: 0 15px 0 0;
}

.extra-info {
    padding: 0 15px 0;
}

.extra-info h3 {
    margin-top: -10px;
}

.row .more-box img {
    /* height: 158px; */
}

.row .more-box {
    background-color: #ebebeb;
    padding: 0;
}

.row .more-box h4{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: -5px;
    font-size: 20px;
    font-weight: 600;
}

.row .more-box ul li {
    padding: 2px 10px;
}

.row .more-box ul {
    margin-bottom: 10px;
}

.row .more-box .glyphicon {
    font-size: 10px;
}

.row .more-box ul li a, .row .more-box ul li a:hover {
    color: #d74f29;
}

.populaire-categorie div a {
    color: white;
    font-size: 16px;
    width: 100%;
    position: relative;
    top: -50px;
}

.populaire-categorie .glyphicon {
    font-size: 10px;
    top: -2px;
}

.populaire-categorie div {
    text-align: center;
}

.populaire-categorie div h3 {
    text-align: left;
    border-top: 1px solid #ebebeb;
    margin-top: 30px;
    padding-top: 20px;
}

.product_maand_container h3, .faq h3 {
    margin-top: 0px;
}

.product_maand {
    background-color: #dbcdb3;
    overflow: auto;
}

.product_maand img {
    float: left;
    width: 65%;
    padding: 20px;
}

.product_maand p {
    float: left;
    width: 35%;
    padding: 20px 5px 0;
    line-height: 22px;
}

.faq h3{
    padding-left: 10px;
}

.faq h3, .faq p {
    border-bottom: 1px solid #ebebeb;
}

.faq h3 {
    padding-bottom: 30px;
}

.faq p {
    margin-left: 10px;
    padding-bottom: 10px;
}

.actielabel {
    position: absolute;
    top: 5px;
    left: 5px;
}

.actielabel span{
    background-image: url(../img/actie-label-sprite.png);
    width: 46px;
    height: 46px;
}

.actielabel .rood {
    background-position: -100px 0;
}

/*
 * Category page 
 */

.list-group-submenu {
    padding-left: 15px;
}

.blockHeader {
    min-height: 20px;
    padding: 15px;
    background: -webkit-linear-gradient(#f1f0ee, #dadada); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f1f0ee, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f1f0ee, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f1f0ee, #dadada); /* Standard syntax */		
    color: #1f1d1b;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.assortiment .panel {
    padding: 0 0 20px;
}

.assortiment .list-group-item {
    padding: 3px 25px;
    border-radius: 0 !important;
    margin-bottom: 0;
    border: none;
    font-weight: normal;
    font-size: 13px;
}

.assortiment .list-group-item:hover, .assortiment .list-group-item:focus {
    color: #d74f29;
}

.assortiment .bold {
    font-weight: 600;
    color: black;
    font-size: 14px;
    padding: 3px 15px;
}

.assortiment .big {
    padding: 10px 15px;
    margin-top: -1px;
    border-top: 1px solid #e4e1dd;
    border-bottom: 1px solid #e4e1dd;
    font-weight: 600;
    font-size: 15px;
    color: black;
}

.hot {
    color: #d74f29 !important;
    font-weight: 600 !important;
    font-size: 14px;
}

.categoryList > div {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;

}

.categoryList a:hover {
    text-decoration: none;
    color: #d74f29 !important;
}

.categoryThumb {
    border: 1px solid #ebebeb;
}

.categoryThumb:hover {
    box-shadow: 0 0 20px #dcdcdc;
}

.categoryThumb .imageContainer {
    overflow: visible;
    width: 100%;
    height: 135px;

}

.imageContainer .categoryImage {
    line-height: 135px;
    text-align: center;
    width: 100%;
    overflow: visible;
}

.imageContainer .categoryImage img {
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 90%;
}

.categoryThumb .titleContainer {
    overflow: visible;
    width: 100%;
    height: 55px;
}

.categoryThumb .categoryTitle {
    text-align: center;
    vertical-align: bottom;
    color: #1f1d1b;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 15px;
}

.collectie {
    border: 1px solid #e4e1dd;
    height: auto;
    padding-bottom: 30px;
}

.collectie > img {
    width: 100%;
}

.collectie > p {
    padding: 10px;
    font-size: 15px;
}

.collectie > a {
    position: absolute;
    bottom: 5px;
    right: 25px;
    font-weight: normal;
    text-transform: uppercase;
}

.largeButtons .btn-group-lg .btn {
    margin: 10px auto !important;
    border-radius: 0;
    /* padding: 5px 10px; */
    font-size: 15px;
    background-color: #d74a29;
    border-color: #d74a29;
}
/*
 * END CATEGORY PAGE
 * 
 * START SUBCATEGORY PAGE
 */

.productHolderThumb {
    margin-left: -10px;
    margin-right: -10px;
}

.filters .block {
    border: 1px solid #ededed;
    background-color: #f7f6f5;
    padding-bottom: 15px;
}

.filters label {
    font-size: 14px;
    color: black;
    font-weight: normal;
    margin-bottom: 0;
}

.filters h3 {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 4px;
    color: black;
}

.filters input[type="checkbox"] {
    height: auto;
    margin: 0 15px;
}

.filters .reset input {
    border: none;
    background: none;
    color: #d74f29;
    font-size: 11px;
    margin-bottom: -10px;
    margin-right: 10px;
    font-weight: 900;
}

.filters .block .border {
    width: 90%;
    height: 1px;
    background-color: #ebebeb;
    margin: 10px auto -10px;
    display: block;
}

.filters .block p {
    margin-bottom: 3px;
}

.filters .block h3  {
    padding-left: 43px;
}

.filters a {
    display: block;
    color: black;
    line-height: 40px;
    margin-top: -1px;
    padding-left: 15px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.filters a:hover, .filters .color h3:hover {
    text-decoration: none;
    background-color: #f5f5f5;
    color: #d74f29;
}

.filters .color a {
    margin-top: 10px;
    border-top: 1px solid #ebebeb;
    border-bottom: 0;
}

.filters .color input[type="image"] {
    border: none;
    margin: 5px;
    padding: 0;
    width: 14.4%;
    height: auto;
    transition: all 0.2s ease;
}

.filters .color input[type="image"]:hover {
    box-shadow: 0 0 10px #8f8f8f;
}

.filters .color .filter-image {
    margin-left: 10px;
    margin-right: 10px;
}

.filters #brand, .filters #type {
    padding-top: 10px;
}

.filtersList .form-group {
    margin-left: 30px;
}
.filtersList label {
    text-transform: uppercase;
    color: #b1b1b0;
    font-weight: normal;
}

.filtersList .form-control {
    border-radius: 0;
    height: auto;
    padding: 4px 10px; 
    margin-left: 10px;
    color: #1f1d1b;
}

.filtersList .btn-lg {
    border-radius: 0;
    line-height: 1;
    padding: 4px 9px 4px 8px; 
}

.filtersList .glyphicon {
    color: #828282;
}

.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn.active {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.productListOne {
    margin-top: 10px;
    font-size: 13px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e1dd;
}

.productHolderLarge {
    border-top: 1px solid #e4e1dd;
    padding-bottom: 15px;
}

.productHolderLarge .infoPanel .rating a {
    display: inline-block;
    font-weight: normal;
    font-size: 0.9em;
}

.productHolderLarge .infoPanel .rating img {
    margin-right: 10px;
    display: inline-block;
}

.productHolderLarge .infoPanel .rating {
    margin-bottom: 10px;
}

.productHolderLarge .infoPanel .description p {
    line-height: 21px;
}

.productHolderLarge .infoPanel .description ul li {
    list-style: disc;
    line-height: 21px;
}

.productHolderLarge .infoPanel .description ul {
    margin-left: 20px;
}

.productHolderLarge .infoPanel div.stock {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    margin-top: 10px;
}

.productHolderLarge .infoPanel div.stock span.stock {
    margin-left: 5px;
}

.productHolderLarge .infoPanel div.stock img, .infoPanel div.stock span.stock {
    display: inline-block;
}

.productHolderLarge .infoPanel div.stock .deliver {
    display: block;
    line-height: 15px;
}

.productHolderLarge .infoPanel .action {
    position: absolute;
    bottom: 0;
    right: 0;

    margin-right: 15px;
}

.action .priceFrom {
    display: block;
    text-align: right;
    font-size: 15px;
    line-height: 15px;
    text-decoration: line-through;
    float: none;
}

.action .price {
    display: block;
    text-align: right;
    font-size: 29px;
    line-height: 25px;
    font-weight: bold;
    float: none;
}

.productHolderLarge .infoPanel h2 a {
    color: #1f1d1b;
    font-size: 21px;
    font-weight: 600;
}

.productHolderLarge .infoPanel h2 a:hover {
    color: #1f1d1b;
    text-decoration: none;
}

.productHolderLarge .infoPanel .action .btn {
    padding: 8px 25px;
}

.productHolderLarge .infoPanel .action .shipping {
    text-transform: uppercase;
    color: #828282;
}

.productThumb {
    height: 150px;
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
}

.productThumb img {
    max-width: 85%;
    max-height: 85%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.productHolderThumb > div {
    border: 1px solid #ebebeb;
    position: relative;
    width: calc(33.33333333% - 20px);
    height: 295px;
    margin: 10px;
}

.productHolderThumb > div:after {
    content: "";
    display: table;
    clear: both;
}

.productThumb img {
    max-width: 80%;
    max-height: 80%;
}

.productHolderThumb p {
    text-align: center;
}

.productHolderThumb .stock img {
    display: block;
    margin: 0 auto;
}

.productHolderThumb .price {
    margin-top: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;
}

.productHolderThumb .price .priceFrom {
    font-weight: normal;
    text-decoration: line-through;
    font-size: 13px;
    font-weight: normal;
}

.productHolderThumb .largeButtons {
    text-align: center;
}

.productHolderThumb .largeButtons .btn-group-lg .btn {
    background-color: #d95a36;
    border-color: #d95a36;
    padding: 5px 10px;
}

.productListOne:after {
    content: "";
    display: table;
    clear: both;
}

.filtersForm .view button {
    padding: 0;
    border: none;
    font-size: 2em;
    opacity: 0.4;
    background-color: white;
}

.filtersForm .view button.active {
    opacity: 1;
}

.filtersForm .view .glyphicon:hover {
    color: black;
}

.page {
    color: #828282;
    padding-top: 3px;
}

.page span {
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.page span:hover {
    color: #d74a29;
}

.back:hover {
    color: #d74a29;
}

/*
 * END SUBCATEGORY PAGE
 * 
 * START PRODUCT DETAIL PAGE
 */

.back {
    color: #828282;
    text-transform: uppercase;
    font-weight: normal;
}

.titleContainer h1 {
    margin-top: -15px;
    font-size: 34px;
}

.product_detail {
    border: 1px solid #ebebeb;
    border-bottom: none;
    padding: 20px;
    margin-top: 5px;
}

.product_detail:after {
    content: "";
    display: table;
    clear: both;
}

.product_detail .rating img {
    display: inline-block;
    margin-right: 5px;
}

.product_detail .rating a {
    font-size: 11px;
    text-transform: uppercase;
}

.product_detail .rating p {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: #999999;
}

.product_detail ul li .glyphicon, .product_detail ul li .glyphicon:hover {
    color: #73bd84;
}

.product_detail ul li {
    font-weight: 600;
}

.product_detail .stock {
    margin-top: 50px;
    width: 70%;
}

.product_detail .stock img, .product_detail .stock span {
    display: inline;
    color: #999999;
    font-size: 12px;
}

.product_detail .action {
    text-align: right;
    margin-top: -30px;
}

.product_detail .largeButtons {
    margin-top: 10px;
}

.product_detail .largeButtons .btn-group-lg .btn {
    padding: 12px 40px;
    font-weight: 600;
}

.product_detail .largeButtons input {
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 0;
    margin: 10px;
    font-size: 20px;
    color: black;
    padding-left: 15px;
}

.product_detail .largeButtons span {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 5px;
    color: #999999;
}

.product_detail .shipping {
    color: #999999;
    text-transform: uppercase;
    font-size: 13px;
}

.product_share {
    height: 45px;
    background-image: url("../img/share.png");
    background-repeat: repeat-x;
}

.product_share a {
    float: left;
    border-right: 2px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    opacity: 0.6;
}

.product_share a:hover {
    opacity: 1;
}

.product_share a span:hover, .product_share a:hover {
    text-decoration: none;
    /*    color: #d74f29;*/
}

.product_share a span {
    color: #828282;
    line-height: 35px;
}

.product_share .verlanglijst {
    padding-left: 0;

}

.product_share .share {
    padding-right: 0;
    border-right: none;
}

.bigImage {
    margin-top: 5px;
    width: 100%;
    height: 650px;
    border: 1px solid #ebebeb;
    display: block;
    position: relative;
}

.bigImage .responsive {
    max-width: 85%;
    max-height: 85%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.smallImage {
    height: 60px;
    width: 100%;
    position: relative;
    margin-top: 25px;
    margin-bottom: 30px;
}

.smallImage:after {
    content: '';
    display: table;
    clear: both;
}

.smallImage ul li {
    float: left;
    width: 12%;
    height: 60px;
    position: relative;
    border: 1px solid #ebebeb;
    margin-right: 25px;
}

.smallImage ul li img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.smallImage .arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border: 1px solid transparent;
}

.smallImage .right {
    left: auto;
    right: 0;
    border: 1px solid #ebebeb;
}

.bigImage .zoom {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.bigImage .left {
    position: absolute;
    left: 0;
    background: url(//cdn.shopify.com/s/files/1/0332/7621/t/15/assets/arrow_sprite.png?50807) no-repeat 0 0;
    background-position: 0 -60px;
    height: 60px;
    width: 60px;
    bottom: 0;
    top: 0;
    left: 0;
    right: auto;
    margin: auto;
    opacity: 0.1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.bigImage .right {
    position: absolute;
    left: 0;
    background: url(//cdn.shopify.com/s/files/1/0332/7621/t/15/assets/arrow_sprite.png?50807) no-repeat 0 0;
    background-position: 0 -120px;
    height: 60px;
    width: 60px;
    bottom: 0;
    top: 0;
    right: 0;
    left: auto;
    margin: auto;
    opacity: 0.1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.bigImage:hover .left, .bigImage:hover .right {
    opacity: 0.7;
}

.bigImage .left:hover, .bigImage .right:hover {
    opacity: 1;
}

.bigImage .zoom:hover {
    opacity: 2;
}

.accessoires {
    margin-top: 80px;
    border: 1px solid #ebebeb;
    padding: 15px;
}

.accessoires:after {
    content: "";
    display: table;
    clear: both;
}

.accessoires h2 {
    color: #d65028;
    font-size: 19px;
    font-weight: 600;
}

.accessoires h3 {
    font-size: 12px;
    font-weight: bold;
}

.accessoires .item {
    border: 1px solid #ebebeb;
    height: 160px;
    margin-top: 20px;
    position: relative;
}

.accessoires .item:after {
    content: "";
    display: table;
    clear: both;
}

.accessoires .item div {
    height: 160px;
}

.accessoires .item .image {
    margin-top: 2px;
    position: relative;
    border: none;
}

.accessoires .item .image img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.accessoires .item .image p {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 160px;
    text-align: center;
}

.accessoires .item span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.accessoires .item span img {
    padding-left: 10px;
}

.tab-links > li {
    float: left;
    height: 50px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 45px;
    font-size: 14px;
    background-image: url('../img/tab-bg.png');
    background-repeat: repeat-x;
    border-left: 1px solid white;
    transition: all 0.3s ease;
}

.tab-links li a {
    color: #1f1d1b;
    font-weight: normal;
    text-transform: uppercase;
}

.tab-links li.active a:hover, .tab-links li.active a:focus {
    color :#d65028;
    border: none;
    text-decoration: none;
}

.tab-links li.active {
    background: #fff no-repeat;
    border-top: 1px solid #e4e1dd;
    border-left: 1px solid #e4e1dd;
    border-right: 2px solid #e4e1dd;
    margin-top: -4px;
    margin-right: -2px;
}

.tab-links li.active a {
    color: #d65028;
    font-weight: 600;
    border: none;
}

.tab-content > div {
    display: none;
}

.tab-pane h2 {
    color: #1f1d1b;
    font-size: 21px;
    font-weight: 600;
}

.specificatie h2 {
    color: #1f1d1b;
    font-size: 21px;
    font-weight: 600;
}

.specificatie .red {
    color: #d74f29;
}

.combideal {
    margin-top: 25px;
    margin-left: 0;
}

.combideal .image {
    border: 1px solid #ebebeb;
    width: calc(58.333333% - 18px);
}

.combideal .image:after {
    content: '';
    display: table;
    clear: both;
}

.combideal .image div {
    height: 220px;
    position: relative;
    margin-bottom: 50px;
}

.combideal .image div img {
    max-height: 65%;
    max-width: 65%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.combideal .image div .stock {
    top: auto;
    left: 0;
    right: 0;
    bottom: -5px;
}

.combideal .image div .price {
    display: block;
    text-align: center;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: -50px;
    margin: auto;
    font-size: 20px;
}

.combideal .image .plus:after {
    content: url(../img/plus2.png);
    position: absolute;
    right: 0;
    line-height: 300px;
}

.combideal .image .equel:after {
    content: url(../img/equel.png);
    position: absolute;
    right: -47px;
    line-height: 300px;
    z-index: 2;
}

.combideal .total {
    border: 1px solid #ebebeb;
    margin-left: 23px;
    width: calc(41.666667% - 20px);
    height: 280px;
    background-color: #f7f6f5;
    padding: 20px;
}

.combideal .text {
    padding-left: 0;
    margin-left: 15px;
    width: calc(75% - 15px);
    height: 40px;
    display: table;
}

.combideal .text p {
    display: table-cell;
    vertical-align: middle;
}

.combideal .price {
    text-align: right;
    display: table;
    height: 40px;
}

.combideal .price p {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
}

.combideal .total input[type='checkbox'] {
    width: 25px;
    margin-right: 20px;
    vertical-align: middle;
}

.combideal hr {
    border-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.combideal .totaal {
    line-height: 30px;
    float: right;
    font-size: 21px;
    font-weight: 900;
    margin-right: 25px;
}

.combideal .totaal_prijs {
    line-height: 30px;
    float: right;
    font-size: 21px;
    font-weight: 900;
}

.flexslider h2 {
    text-transform: uppercase;
}

/*
 * END PRODUCT DETAIL PAGE
 */

.brands_img {
    width: 100%;
    height: 50px;
    margin: 20px auto;
}

.brands_img ul li {
    float: left;
    width: 10%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

.brands_img ul li:hover {
    opacity: 1; 
}

.brands_img ul li img {
    vertical-align: middle;
}

.footer1 .sitemap a {
    color: #242321;
}
.footer1 {
    min-height: 320px;
    background: url(../img/bkg_footer_1.png) 100% 100% repeat;
    box-shadow: inset 1px 10px 15px -15px;
}

.footer1 ul li {
    font-size: 12px;
    text-transform: capitalize;
    padding: 0 0 3px 0;
}

.footer1 p {
    font-size: 12px;
}

.footer1 p span {
    font-weight: 600;
}

.footer1 h3 {
    font-size: 18px;
    color: #d84f2b;
}

.latestNewsContainer {
    padding-bottom: 15px;
    margin-bottom: 55px;
    border-bottom: 1px solid #f7f6f5;
}

.newsletter {
    border: 1px solid #e4e1dd;
    padding: 8px 15px 15px 15px;
}

.kiyoh {
    float: right;
    text-align: right;
    background: url(../img/kiyoh.png) 123px 2px no-repeat;
    width: 180px;
    height: 60px;
    margin-bottom: 40px;
}

.kiyoh span {
    top: 10px;
    left: -10px;
    display: inline-block;
    position: relative;
    font-size: 28px;
    color: #fff;
    font-weight: 600;		
    letter-spacing: -1px;
}

.footer2 {
    min-height: 170px;
    background: url(../img/bck-footer-min.jpg) 100% 100% repeat;
    color: #fff;
    padding-bottom: 20px;
}

.footer2 p {
    font-size: 12px;
    line-height: 20px;
}

.footer2 h3 {
    color: #d84f2b;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer2 p.quote {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    color: #999;
    margin: 60px 0 0 0;
}

.footer2 p.quote span {		
    display: block;
    font-style: normal;
    color: #666;
    font-size: 14px;
}

ul.socialMediaIcons li {
    float: left;
    padding: 0 15px 0 0;
}

ul.socialMediaIcons a {
    text-indent: -3333px;
    display: block;
    width: 34px;
    height: 34px;
    background: url(../img/icon_social_media.png) 2px 0px no-repeat;
}

ul.socialMediaIcons a:hover {
    opacity: 0.7;
}

ul.socialMediaIcons a.iconFacebook {
    background: url(../img/icon_social_media.png) -135px 0px no-repeat;
}

ul.socialMediaIcons a.iconTwitter {
    background: url(../img/icon_social_media.png) 2px 0px no-repeat;
}

ul.socialMediaIcons a.iconPinterest {
    background: url(../img/icon_social_media.png) -44px 0px no-repeat;
}

ul.socialMediaIcons a.iconYoutube {
    background: url(../img/icon_social_media.png) -181px 0px no-repeat;
}

ul.socialMediaIcons a.iconGooglePlus {
    background: url(../img/icon_social_media.png) -227px 0px no-repeat;
}



#newsletterInput {
    padding: 4px;
    height: 34px;
    border-radius: 0;
}

.footer2 .email, .footer2 p {
    color: white;
}

#newsletterButton {
    display: inline-block;
    position: relative;
    background: url(../img/icon_newsletter.png) 100% 100% no-repeat;
    width: 34px;
    height: 34px;
    border-radius: 0;
    border: 1px solid #d84f2b;
}		

footer {
    padding: 20px 0 0 0;
    text-align: center;
    color: #242321;
    font-size: 11px;
}

footer .paymentTypes {
    margin-bottom: 50px;
}

footer .paymentTypes li {
    margin: 0;
    text-indent: -3333px;
    display: inline-block;
    padding: 0;
}

footer .paymentTypes li.visa {		
    width: 44px;
    height: 25px;
    background: url(../img/payment_types.png) 0px 0px no-repeat;
}


footer .paymentTypes li.mastercard {
    width: 55px;
    height: 25px;
    background: url(../img/payment_types.png) -55px 0px no-repeat;	
}


footer .paymentTypes li.maestro {
    width: 38px;
    height: 25px;
    background: url(../img/payment_types.png) -117px 0px no-repeat;			
}


footer .paymentTypes li.paypal {
    width: 52px;
    height: 25px;
    background: url(../img/payment_types.png) -160px 0px no-repeat;			
}


footer .paymentTypes li.misterCash {
    width: 38px;
    height: 25px;
    background: url(../img/payment_types.png) -213px 0px no-repeat;			
}


footer .paymentTypes li.sofortUberweisung {
    width: 55px;
    height: 25px;
    background: url(../img/payment_types.png) -260px 0px no-repeat;			
}


footer .paymentTypes li.ideal {
    width: 28px;
    height: 25px;
    background: url(../img/payment_types.png) -321px 0px no-repeat;				
}

footer .paymentTypes li.postNl {
    width: 68px;
    height: 25px;
    background: url(../img/payment_types.png) -474px 0px no-repeat;				
}

footer .paymentTypes li.ups {
    width: 25px;
    height: 25px;
    background: url(../img/payment_types.png) -544px 0px no-repeat;				
}	

.text-info {
    color: black;
    margin-top: 19px;
}

.text-info p {
    margin: 0;
    font-size: 12px;
}

.icon-bar {
    color: black;
}

.glyphicon:hover, .glyphicon:active {
    color: #d74a29;
}