@charset "UTF-8";

/*
 *  File: 		winkelwage.css;
 *	Purpose:	styling the 'winkelwage' page;
 */

.row.header {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

.row.header p {
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	margin-bottom: 0;
}

.row.product {
	height: 90px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 5px;
	padding-top: 5px;
}

.row.product > div {
	height: 100%;
}

.product .thumb img {
	max-width: 80%;
	max-height: 100%;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	padding-left: 5%;
}

.product .thumb a {
	position: absolute;
	line-height: 80px;
	left: 10px;
	color: #1f1d1b;
	opacity: 0.3;
}

.product .thumb a:hover {
	opacity: 1;
}

.product .beschrijving, .product .wijzig, .product .totaal, .product .aantal, .product .subtotaal, .product .verwijder {
	display: table;
}

.product .beschrijving p, .product .wijzig a, .product .totaal p, .product .aantal .form-group, .product .subtotaal p, .product .verwijder a {
	display: table-cell;
	vertical-align: middle;
}

.product .wijzig a {
	font-size: 13px;
	color: #1f1d1b;
}

.product .subtotaal input[type=text] {
	text-align: right;
	width: 65px;
}

.product input[type=text], .naarkassa input[type=text] {
	border: none;
	height: 20px;
	padding: 0;
	font-size: 13px;
	color: #1f1d1b;
	cursor: text;
}

.product input[type=text] {
	width: 65px;
}

.naarkassa input[type=text] {
	width: 65px;
	text-align: right;
}

.naarkassa p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.naarkassa .largeButtons {
	margin-left: -12px;
}

.naarkassa .subtotaal {
	margin-top: -5px;
	border-bottom: 1px solid #ebebeb;
}

.naarkassa .eindtotaal {
	border-top: 1px solid #828282;
	border-bottom: 3px double #828282;
	font-size: 14px;
	font-weight: 600;
}

.naarkassa .eindtotaal p {
	height: 20px;
}

.waardebon {
	border: 1px solid #ebebeb;
	padding: 10px;
	margin-top: 40px;
}

.waardebon label {
	cursor: pointer;
	font-size: 14px;
}

.waardebon h2 {
	text-transform: uppercase;
	font-size: 17px;
	margin-top: 10px;
}

.waardebon .input-group {
	background-color: #ebebeb;
	padding: 30px 15px;
}

.waardebon input {
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}

.waardebon .input-group .input-group-btn {
	vertical-align: bottom;
	padding-left: 10px;
}

.waardebon .input-group-btn .btn {
	border-radius: 0;
}

.gaverder a {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: -10px;
	border-radius: 0;
	background-color: #e6e6e6;
	border-color: #e6e6e6;
}

.gaverder a:hover {
	background-color: #fff;
}